h2{
    font-family: "Century Gothic";
    font-size: large;
    text-align: center;
}

.content p{
    font-size: 12px;
}

body {
    background-color: transparent;
}

.row-center p{
    text-align:center;
    line-height:1.25vw;
    padding: 0px;
}
