@media all {
    .box {
        overflow-x: hidden;
    }

    .portrait-image {
        width: 100%;
        /*max-width: 260px;*/
        min-width: 160px;
    }

    .nomargin {
        margin: 10px !important;
    }

   .center-block {
       margin: auto;
       display:table;
   }
   .text-center {
       text-align:center
   }

    .expandable {
        display: none;
    }

    .read_less {
        display: none;
    }

    html {
        background: url(images/theartist.jpg) no-repeat fixed center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    h2 {
        font-family: "Century Gothic";
        font-size: large;
        text-align: center;
    }

    h6 {
        font-family: "Futura LT";
    }

    .content p {
        font-size: 1vw;
    }

    p .span {
        font-size: inherit;
    }

    body {
        background-color: transparent;
        height: 100%;
        font-family: Avenir;
        font-size: calc(12px + 0.2vw);
        /*font-family: "Frutiger Next LT W1G";*/
    }

    .row-center p {
        text-align: center;
        line-height: 1.25vw;
        padding: 0px;
    }

    .outside {
        visibility: hidden;
    }

    #centertext {
        position: absolute;
        visibility: hidden;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%, -50%);
    }


    #endbuffer {
        position: absolute;
        top: 2000%;
    }

    #left {
        visibility: hidden;
        width: 50px;
        height: 70px;
        text-indent: -9999px;
        position: fixed;
        left: 20%;
        bottom: 50%;
        transform: translateY(-50%);
        background: url("images/larrow.jpg") no-repeat center 90%;
        background-size: 100%;
        z-index: 10000;
        opacity: 0.4;
        transition: opacity 1s ease-in-out;
    }

    #left:hover {
        opacity: 1.0;
        transition: opacity .55s ease-in-out;
    }

    #right {
        visibility: hidden;
        width: 50px;
        height: 70px;
        text-indent: -9999px;
        position: fixed;
        right: 20%;
        bottom: 50%;
        transform: translateY(-50%);
        background: url("images/rarrow.jpg") no-repeat center 90%;
        background-size: 100%;
        z-index: 10000;
        opacity: 0.4;
        transition: opacity 1s ease-in-out;
    }

    #right:hover {
        opacity: 1.0;
        transition: opacity .55s ease-in-out;
    }

    ​
    #menubar {
        visibility: hidden;
        color: white;
    }

    th, td {
        padding: calc(10px + 0.2vw);
    }

    th {
        color: firebrick;
    }

    .hidable {
        display: block;
    }

    /*::-webkit-scrollbar-track*/
    /*{*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
    /*background-color: #F5F5F5;*/
    /*}*/
    /*::-webkit-scrollbar*/
    /*{*/
    /*width: 12px;*/
    /*background-color: #F5F5F5;*/
    /*}*/
    /*::-webkit-scrollbar-thumb*/
    /*{*/
    /*border-radius: 10px;*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    /*background-color: #D62929;*/
    /*}*/
    /*tanking some kind of error from above*/
    /*#toknowledge {  }*/
    .box {
        overflow: auto;
    }

    .middle-of-div {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: min-content;
        margin: 0 auto;
        padding: 10px;
        z-index: 5;
        color: white;
    }

    #toknowledge {
        width: 70px;
        height: 70px;
        text-indent: -9999px;
        position: fixed;
        z-index: 5000;
        right: 50vw;
        bottom: 5vw;
        visibility: hidden;
        opacity: 0;
        background: url("images/arrow.png") no-repeat center 90%;
        background-size: 100%;
    }

    .clicked {
        text-color: firebrick;
    }

}
